* {
    font-family: sans-serif, "Times New Roman", monospace;
}

.title {
    text-align: center;
    background-color: rgb(245, 121, 113);
    border: solid black;
    padding: 10px;
    margin-top: auto;
    color: black;
    font-weight: 900;
}

.ing,
.steps-head,
.desc {
    text-align: center;
    background-color: black;
    color: white;
    margin: 8px;
    padding: 4px;
}

#tip {
    color: red;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
}

.steps {
    margin: 20px auto;
}

.link {
  display: block;
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 8px auto;
}